body {
  background-color: rgb(226, 242, 213);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card h1 {
  margin-bottom: 26px;
}

.card img {
  width: 228px;
  height: 301px;
}

.card button {
  width: 102px;
  height: 32px;
  background-color: rgb(29, 183, 2);
  border: none;
  color: white;
}